.greencross { 
    background-color: #99E2D0;
    border-radius: 0px 15px 15px 0px;
    font-size: 22px;
    min-width: 60px;
    border: 0px solid #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: -60px;
    animation-name: greencrosstiming;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}
.cardfood:hover .rotatecross {
    animation-name: rotatecross;
    animation-duration: 2s;
}
@keyframes rotatecross {
    0% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(0);
    }
}
@keyframes greencrosstiming {
    0% {
        margin-right: 0px;
    }
    50% {
        margin-right: 5px;
    }
    100% {
        margin-right: 10px;
    }
}