/* Header */
.headertitle {
    color: #101010;
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
}
header {
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}
.contentcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.15);
    bottom: 44.25%;
    width: 375px;
    height: 63px;
    gap: 10px;
}
.boxshadowh1 {
    box-shadow: 0px 12px 4px rgba(0, 0, 0, 0.15);
}
/* Header search */
.borderout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 17px;
    background: #EAEAEA;
    border: 0px solid black;
    Width: 375px;
    Height: 50px;
    Top: 62.5px;
}

.dotmars {
    color: #353535;
    text-align: center;
}

input::placeholder {
    font-weight: 500;
    color: #353535;
    font-size: 16px;
    line-height: 19px;
}

input,
textarea {
    border: 0px solid black;
    color: #EAEAEA;
    background-color: #EAEAEA;
}