.btn-heart {
    font-size: 22px;
}

.btn-heart .fa-solid {
    display: none;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity:0;
}
.btn-heart:hover .fa-solid {
    display: block;
    
}
.btn-heart:hover .fa-regular {
    display: none;
}