.heartline {
    font-size: 22px;
}
.heartcolor {
    font-size: 21px;
    display: block;
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        top: 0;
        right: 0;
        bottom: 0;  
        left: 0;
        background-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);;
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}