body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.shrik {
    font-family: 'Shrikhand';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #FFFFFF;
}
a{
    color:unset;
    text-decoration: none;
}

/* Main */
main {
    max-width: 1400px;
    width: 100%;
}


/* partie texte réservation */
.dimensionsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.spaceh1 {
    margin-left: 42px;
    margin-right: 58px;
    margin-bottom: 22px;
}
.alignh2 {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.spacep1 {
    color: #353535;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    margin-left: 26px;
    margin-right: 34px;
    margin-bottom: 27px;
}
h2 {
    color: black;
    font-weight: 700; 
}

/* Partie fonctionnement */
.spacebutton {
    margin-bottom: 105px;
}
.spacefonctionnement {
    padding-bottom: 26px;
    padding-left: 20px;
}
.searching3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-bottom: 24px;
    margin-right: 20px;
    margin-left: 20px;
}

.buttonform3 {
    height: 24px;
    width: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9356DC;
    color: #FFFFFF;
    margin-right: -10px;
    z-index: 3;
}
.greyicon {
    color:#7E7E7E;
}
.buttonreserv {
    background: #F7F7F7;
    height: 72.38px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    width: 100%;
    gap: 27px;
    padding-left: 33.47px;
    z-index: 2;
}
/* partie Restaurant */
.spacerestaurants {
    padding-left: 20px;
    padding-top: 122px;
    padding-bottom: 20px;
}
.cardcontainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 8px;
    margin-right: 8px;
}
.spacecontainer {
    margin: 17px;
}
.onec {
    width: 100%;
}
/* contenu des cards */
.spacemenu {
    display: flex;
    justify-content: space-between;
    height: 26px;
}

.colorfond {
    display: flex;
    flex-direction: column;
    flex-basis: 248px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    gap: 4px;
    margin-bottom: 8px;
    height: 251px;
    color: black;
    text-decoration: none;
    flex:1;
    position: relative;
}

.dimimg {
    object-fit: cover;
    height: 186px;
    box-sizing: border-box;
    border-radius: 20px 20px 0px 0px;
    align-self: stretch;
}

.newtomenu {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    color: #008766;
    width: 80px;
    height: 29px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    background: #99E2D0;
    font-size: 14px;
    position: absolute;
    top: 15px;
    right: 15px;
}
.textecard {
    margin:0px;
}
.textecardtown {
    font-style: normal;
    font-weight: 300;
}
.txtcardpad {
    padding: 13px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.spacefooter {
    margin-top: 66px;
    
}

@media (min-width: 769px) {
    .fonctionnement-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .cardcontainer {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 56px;
    }
    .colorfond {
        flex: 2 40%;
        height: 270px;
    }
    .buttonreserv {
        padding-right: 48px;
    }
}

